.cookie-notification {
  --notify-height: 65px;
  --mobile-notify-height: 70px;
  position: sticky;
  bottom: 0;
  color: #FFFFFF;
  background-color: #1E2E4D;
  height: var(--notify-height);
}

.cookie-notification__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
  padding: 13px 80px;
}

.cookie-notification__content {
  margin: 0;
}

.cookie-notification__buttons-wrapper {
  display: flex;
  align-items: center;
  gap: 50px;
}

.cookie-notification__button {
  padding: 10px 30px;
}

.about-cookie {
  color: #000000;
  background-color: #e5e5e5;
  height: 70px;
  bottom: var(--notify-height);
  outline: 1px dashed #000000;
}

.about-cookie__content {
  text-align: center;
  padding: 11px 100px;
  margin: 0;
}

.detail-button {
  width: 32px;
  height: 32px;
}

@media (max-width: 1024px)  {
  .cookie-notification {
    gap: 0;
    height: var(--mobile-notify-height);
  }

  .cookie-notification__inner {
    padding: 17px 30px;
  }

  .cookie-notification__buttons-wrapper {
    gap: 35px;
  }

  .cookie-notification__button {
    padding: 8px 15px;
  }

  .about-cookie {
    bottom: var(--mobile-notify-height);
  }

  .about-cookie__content {
    padding: 9px 20px;
  }
}
