.cookie-notification {
  --notify-height: 55px;
  --mobile-notify-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  position: sticky;
  bottom: 0;
  color: #FFFFFF;
  background-color: #1E2E4D;
  max-width: 60%;
  height: var(--notify-height);
  margin: 0 auto;
}

.cookie-notification__content {
  margin: 0;
}

.cookie-notification__button {
  padding: 8px 20px;
}

.about-cookie {
  color: #000000;
  background-color: #DFE1DB;
  height: 70px;
  bottom: var(--notify-height);
  outline: 1px dashed #000000;
}

.about-cookie__content {
  text-align: center;
  padding: 0 100px;
  margin: 0;
}

.detail-button {
  width: 28px;
  height: 28px;
}

@media (max-width: 1024px)  {
  .cookie-notification {
    gap: 0;
    max-width: initial;
    height: var(--mobile-notify-height);
  }

  .cookie-notification__content {
    padding: 15px 25px;
    width: 50%;
  }

  .cookie-notification__button {
    padding: 5px 15px;
    margin: 0 20px 0 10px;
  }

  .about-cookie {
    bottom: var(--mobile-notify-height);
  }

  .about-cookie__content {
    padding: 0 20px;
  }
}
