.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  height: 130px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  transition: height .5s ease;
}

.header_narrowed {
  height: 80px;
}

.header__logo-wrapper {
  display: flex;
  gap: 25px;
  padding-left: 50px;
}

.header__logo {
  width: 200px;
  animation: paws-through-forest infinite 4s ease-out .5s;
  background-image: url('../../images/white-background.svg');
  background-size: contain;
  transition: width .5s ease;
}

.header_narrowed .header__logo {
  width: 140px;
}

@keyframes paws-through-forest {
  25% {
    background-image: url('../../images/paws-step-1.svg');
  }
  50% {
    background-image: url('../../images/paws-step-2.svg');
  }
  75% {
    background-image: url('../../images/paws-step-3.svg');
  }
  100% {
    background-image: url('../../images/white-background.svg');
  }
}

.header__site-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  user-select: none;
}

.site-title {
  font-size: 20px;
  margin: 0;
}

.site-subtitle {
  font-size: 18px;
  margin: 0;
}

.header__navigation {
  padding-right: 100px;
}

.header__navigation-list {
  display: flex;
  gap: 50px;
  color: #FFFFFF;
  background-color: #1E2E4D;
  margin: 0;
  padding: 15px 25px;
}
