.footer {
  height: 80px;
  background-color: #1E2E4D;
}

.footer_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 50px;
}

.footer__copyright-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
}

.footer__copyright-message {
  color: #FFFFFF;
  margin: 0;
}

.footer__navigation-list {
  display: flex;
  gap: 50px;
  margin: 0;
  padding: 0;
}

@media (max-width: 1024px)  {
  .footer {
    height: 180px;
  }

  .footer_inner {
    flex-direction: column;
    justify-content: space-around;
    padding: 0 30px;
  }

  .footer__copyright-wrapper {
    width: auto;
  }

  .footer__navigation-list {
    gap: 25px;
  }
}
